body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--bacg-color);
  -webkit-font-smoothing: antialiased;
}

.inputs-box {
  display: flex;
}

.preformatted {
  padding: 15px;
  font-family: monospace;
  white-space: pre;
  background-color: var(--prbg-color);
  border: 1px solid var(--prbg-border-color);
  border-radius: 5px;
}

.swal-overlay {
  color: #333333;
}

.sliders-and-graph {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  align-items: center;
}

.sliders-and-graph .container {
  width: 100%;
  padding: 0px 75px 30px;
}