:root {
  --text-color: #333333;
  --bacg-color: #fafafa;
  --prbg-color: #dddddd;
  --prbg-border-color: #c9c9c9;
}

@media (prefers-color-scheme: dark) {
  /* Dark theme styles go here */
  :root {
    --text-color: #e8eaed;
    --bacg-color: #202124;
    --prbg-color: ##353535;
    --prbg-border-color: #555555;
  }
}

@media (prefers-color-scheme: light) {
  /* Light theme styles go here */
  :root {
    --text-color: #333333;
    --bacg-color: #fafafa;
    --prbg-color: #dddddd;
    --prbg-border-color: #c9c9c9;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: var(--text-color);
  background-color: var(--bacg-color);
  -webkit-font-smoothing: antialiased;
}

.inputs-box {
  display: flex;
}

.preformatted {
  padding: 15px;
  font-family: monospace;
  white-space: pre;
  background-color: var(--prbg-color);
  border: 1px solid var(--prbg-border-color);
  border-radius: 5px;
}

.swal-overlay {
  color: #333333;
}